# Polaris Key — public wire, OpenAPI 3.1.
#
# Scope: the PUBLIC product-scoped API (wire contract v4; the file name versions the API, not
# the wire) — Core routes plus the six service
# namespaces and the four permanent aliases. The admin (/manage/api/*) and portal (/api/*)
# APIs are session-authenticated browser surfaces and are documented narratively on the docs
# site instead (they are not "wire" — no SDK speaks them). The offline-bundle mint is one of
# those admin surfaces (`POST /manage/api/products/<slug>/bundles`), so `pkey-bundle+jws`
# appears here only as a `typ` value, never as a path.
#
# Authority: docs/security/WIRE-CONTRACT-V3.md is the normative contract; the worker's
# services/*/routes.ts are the routing truth; test/routeCoverage.test.ts pins this file
# against the router so a route can be added but not silently undocumented.
#
# ── THE TWO ERROR SHAPES, AND WHY BOTH ARE HERE ──────────────────────────────────────────────
#
# `core/errors.ts` exports two builders and the wire carries both, deliberately:
#
#   errorResponse() → LEGACY FLAT   {"error":"<code>","message"?:"…", …extra}
#   wireError()     → NESTED v3     {"error":{"code":"<code>"}, …extra}
#
# A handler that MOVED into the service layout without changing its body kept the flat shape so
# its behaviour is byte-identical after the move; the surfaces v3 INTRODUCED — the two signed
# documents, keyless registration, the registry's own not-found, and the `entitled` release
# access mode — speak the nested shape from their first request. In BOTH shapes any extra
# (`message`, `allowedRange`, `limit`, `drift`) rides at the TOP level, never inside `error`.
# Every operation below names which shape it answers with; `FlatError` and `WireError` are the
# two schemas. Mixing them inside one handler is the thing to avoid; carrying both across the
# migration is the point.
#
# ── CORS (P0-05) ─────────────────────────────────────────────────────────────────────────────
#
# Every path a browser page on one of the product's `web.origins` may call documents an
# `options` operation answered by the single shared `CorsPreflight` response. The seven
# cookie-bearing or navigation-only identity/edge-mint paths document none, because they answer
# no CORS; neither do the admin, portal, docs or webhook surfaces (not in this file at all).
# `test/routeCoverage.test.ts` pins both directions against `core/cors.ts`. The generated
# route table lists get/post/put/patch/delete only, so these operations do not appear there.
#
# Every operation carries its real request/response schemas and at least one example lifted
# from the worker's own tests. Response bodies here are what the HANDLERS emit; where a route
# serves a compact JWS the DECODED payload is documented as a sibling schema (`LicenseDocPayload`,
# `ConfigDocPayload`, `TrustManifestPayload`) since that is the shape an SDK actually verifies.

openapi: 3.1.0
info:
  title: Polaris Key public API
  version: "3.0.0"
  description: >
    Per-product licensing, managed config, releases, distribution, updates, and identity over wire
    contract v4 (PROTOCOL_VERSION 4). Every route is scoped by a product slug; signed
    documents are compact EdDSA JWS with typ-separated document kinds; clients verify
    against pinned keys plus a signed trust manifest.
  contact:
    name: Polaris Key
    url: https://key.plrs.im/docs/
servers:
  - url: https://key.plrs.im
    description: Production (the ISSUER; host and wire issuer are deliberately identical).

tags:
  - name: core
    description: >
      Always-on substrate — discovery, trust (JWKS + signed trust manifest), and the device
      principal (registration, roster, telemetry). Available for every product regardless of
      which services it enables.
  - name: license
    description: Activation, enrollment, tokens, and the signed license document.
  - name: config
    description: The catalog, the signed config document, and edge-mint secret delivery.
  - name: release
    description: Release truth — changelog, channel policy, trusted publishing.
  - name: distribution
    description: >
      Distribution — every byte delivered (install script, downloads, builds, files, blobs; on
      the console host and the bytes host), outlet rollouts (P2b-04) and the CI report of
      availability, submissions and signing keys (P2b-03).
  - name: update
    description: Update feed — Sparkle appcasts (per-arch), version checks, eligibility.
  - name: identity
    description: Product OIDC (browser + device flow) and browser sessions.
  - name: aliases
    description: >
      The permanent alias spellings: the four pre-namespace paths (SUFeedURL values compiled
      into shipped bundles; curl lines in published docs) and Release's old byte paths, which
      moved to Distribution in P2b-04 (download URLs SDKs build; byte URLs discovery
      advertised). Each is an exact rewrite of its canonical route — same handler, same
      response — and is excluded from any future deprecation.

paths:
  # ── core ──────────────────────────────────────────────────────────────────────
  /{product}/.well-known/polaris.json:
    get:
      operationId: getDiscovery
      tags: [core]
      summary: Product discovery document
      description: >
        Registry-assembled capability document: Core emits trust/device/platform info and
        each ENABLED service contributes a fragment with `enabled: true` and its endpoints;
        disabled services appear with `enabled: false` and nothing else. This is the SDK
        capability-negotiation source. Unsigned — clients take trust ONLY from their pinned
        keys, never from this file.


        `version` is the DISCOVERY document's own version (still `2`) and `protocolVersion`
        is the wire version (`4`) — they are deliberately different numbers. `schemaVersion`
        is the product's catalog version, a third orthogonal counter. `services` always
        carries all six slugs in the canonical order license, config, release, distribution,
        update, identity, so a client can iterate it rather than probe. `core.endpoints.register`
        is OMITTED when the product's registration policy is `requires-license`.
      parameters: [{ $ref: "#/components/parameters/Product" }]
      responses:
        "200":
          description: "The discovery document. `cache-control: public, max-age=300`."
          content:
            application/json:
              schema: { $ref: "#/components/schemas/DiscoveryDocument" }
              examples:
                allFiveEnabled:
                  summary: A product running every service (test/surfaces.test.ts)
                  value:
                    version: 2
                    protocolVersion: 4
                    schemaVersion: 1
                    product: djdl
                    slug: djdl
                    name: DJDL
                    baseUrl: https://key.plrs.im
                    core:
                      registration: open
                      compat: { min: "0.0.0", max: "99.0.0" }
                      endpoints:
                        discovery: https://key.plrs.im/djdl/.well-known/polaris.json
                        jwks: https://key.plrs.im/djdl/.well-known/jwks.json
                        trustManifest: https://key.plrs.im/djdl/.well-known/polaris-trust.jws
                        devices: https://key.plrs.im/djdl/devices
                        report: https://key.plrs.im/djdl/devices/report
                        register: https://key.plrs.im/djdl/devices/register
                    trust:
                      jwksUrl: https://key.plrs.im/djdl/.well-known/jwks.json
                      trustManifestUrl: https://key.plrs.im/djdl/.well-known/polaris-trust.jws
                      cacheSeconds: 300
                      pinnedKeys:
                        test-kid: 3p9wKQ7WQ0xJm1Yy5cQhFhGx8t2fJcW0kLpNvR4sZ1A
                      signingKid: test-kid
                      signingPub: 3p9wKQ7WQ0xJm1Yy5cQhFhGx8t2fJcW0kLpNvR4sZ1A
                      keys:
                        - kid: test-kid
                          alg: EdDSA
                          kty: OKP
                          crv: Ed25519
                          publicKey: 3p9wKQ7WQ0xJm1Yy5cQhFhGx8t2fJcW0kLpNvR4sZ1A
                          status: active
                          active: true
                    services:
                      license:
                        enabled: true
                        endpoints:
                          activate: https://key.plrs.im/djdl/license/activate
                          enroll: https://key.plrs.im/djdl/license/enroll
                          token: https://key.plrs.im/djdl/license/token
                          deauthorize: https://key.plrs.im/djdl/license/deauthorize
                          document: https://key.plrs.im/djdl/license/document
                      config:
                        enabled: true
                        schemaVersion: 1
                        endpoints:
                          document: https://key.plrs.im/djdl/config/document
                          schema: https://key.plrs.im/djdl/config/schema
                        mint: { available: false }
                      release:
                        enabled: true
                        configured: true
                        binaryName: djdl
                        repository: { owner: acme, name: djdl }
                        endpoints:
                          changelog: https://key.plrs.im/djdl/release/changelog
                          install: https://key.plrs.im/djdl/release/install.sh
                          download: https://key.plrs.im/djdl/release/dl
                          builds: https://dl.plrs.im/djdl/release/builds/{selector}/{buildId}
                          blobs: https://dl.plrs.im/djdl/release/blobs/sha256/{sha256}
                          record: https://key.plrs.im/djdl/release/records/{sha256}
                        releaseKeyFingerprints:
                          [
                            d8f1a6a3f0b2a1c7e6d9b4c3a2f1e0d9c8b7a6f5e4d3c2b1a0f9e8d7c6b5a4f3,
                          ]
                        packs: true
                      distribution:
                        enabled: true
                        configured: true
                        endpoints:
                          download: https://key.plrs.im/djdl/distribution/dl
                          install: https://key.plrs.im/djdl/distribution/install.sh
                          builds: https://dl.plrs.im/djdl/distribution/builds/{selector}/{buildId}
                          blobs: https://dl.plrs.im/djdl/distribution/blobs/sha256/{sha256}
                      update:
                        enabled: true
                        configured: true
                        channels: [stable, beta, nightly]
                        sparkleEd25519PublicKey: SPARKLEPUB
                        endpoints:
                          version: https://key.plrs.im/djdl/update/version
                          appcast: https://key.plrs.im/djdl/update/appcast.xml
                          channelAppcast: https://key.plrs.im/djdl/update/{channel}/appcast.xml
                          feed: https://key.plrs.im/djdl/update/{channel}/feed.jws
                        archParameter: [arm64, x86_64]
                      identity:
                        enabled: true
                        configured: true
                        endpoints:
                          session: https://key.plrs.im/djdl/identity/session
                          sessionLicense: https://key.plrs.im/djdl/identity/session/license
                          authStart: https://key.plrs.im/djdl/identity/auth/start
                          authCallback: https://key.plrs.im/djdl/identity/auth/callback
                          authPoll: https://key.plrs.im/djdl/identity/auth/poll
                          authLogout: https://key.plrs.im/djdl/identity/auth/logout
                          authDeviceStart: https://key.plrs.im/djdl/identity/auth/device/start
                          authDeviceEntry: https://key.plrs.im/djdl/identity/auth/device
                          authDeviceVerify: https://key.plrs.im/djdl/identity/auth/device/verify
                          authDevicePoll: https://key.plrs.im/djdl/identity/auth/device/poll
                configOnly:
                  summary: A config-only product — the other five are bare `enabled:false`
                  value:
                    services:
                      license: { enabled: false }
                      config:
                        {
                          enabled: true,
                          schemaVersion: 3,
                          endpoints:
                            {
                              document: https://key.plrs.im/cfg/config/document,
                              schema: https://key.plrs.im/cfg/config/schema,
                            },
                          mint: { available: false },
                        }
                      release: { enabled: false }
                      distribution: { enabled: false }
                      update: { enabled: false }
                      identity: { enabled: false }
        "404": { $ref: "#/components/responses/LegacyNotFound" }
        "405": { $ref: "#/components/responses/MethodNotAllowed" }
    options:
      operationId: preflightGetDiscovery
      tags: [core]
      summary: CORS preflight
      description: >
        Browser preflight for a page on one of the product's `web.origins`. Answered
        before service dispatch, so the result never depends on whether the service
        behind this path is enabled. See `CorsPreflight`.
      parameters:
        - { $ref: "#/components/parameters/Product" }
      responses:
        "204": { $ref: "#/components/responses/CorsPreflight" }
  /{product}/.well-known/jwks.json:
    get:
      operationId: getJwks
      tags: [core]
      summary: Product signing keys (JWKS)
      description: >
        The product's active Ed25519 verification keys. Operators pin from here once over
        TLS; SDKs then treat pins as terminal and learn rotations from the signed trust
        manifest, not from re-fetching this.


        Publishes the `active`, `staged` and `retired` keys, ordered active → staged →
        retired then newest first; `revoked` keys are never published. Each member carries
        all six of `kty`/`crv`/`use`/`alg`/`kid`/`x` — the public key is the JOSE-spelled
        `x`, unlike the trust manifest and the discovery document, which both spell it
        `publicKey`.
      parameters: [{ $ref: "#/components/parameters/Product" }]
      responses:
        "200":
          description: "JWKS. `cache-control: public, max-age=300`."
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Jwks" }
              examples:
                rotating:
                  summary: An active key plus the retired one it replaced
                  value:
                    keys:
                      - kty: OKP
                        crv: Ed25519
                        use: sig
                        alg: EdDSA
                        kid: test-kid
                        x: 3p9wKQ7WQ0xJm1Yy5cQhFhGx8t2fJcW0kLpNvR4sZ1A
                      - kty: OKP
                        crv: Ed25519
                        use: sig
                        alg: EdDSA
                        kid: test-kid-2024
                        x: Wm5tQ2hZa0xxUjhuVDBzWXAydmNFZ0hqNkJmM1FkTncK
        "404": { $ref: "#/components/responses/LegacyNotFound" }
    options:
      operationId: preflightGetJwks
      tags: [core]
      summary: CORS preflight
      description: >
        Browser preflight for a page on one of the product's `web.origins`. Answered
        before service dispatch, so the result never depends on whether the service
        behind this path is enabled. See `CorsPreflight`.
      parameters:
        - { $ref: "#/components/parameters/Product" }
      responses:
        "204": { $ref: "#/components/responses/CorsPreflight" }
  /{product}/.well-known/polaris-trust.jws:
    get:
      operationId: getTrustManifest
      tags: [core]
      summary: Signed trust manifest (pkey-trust+jws)
      description: >
        The key set as a signed document — verified against PINNED keys only; the discovered
        set is replaced wholesale on each verification (absence is revocation; `revoked`
        keys are pruned positively). Cacheable ~300s.


        Note precisely how the prune signal reaches the client: `TrustManifestKey.status`
        is `Exclude<SigningKeyStatus,"revoked">`, so no manifest entry is ever `revoked` on
        the wire. A revoked key is pruned by DISAPPEARING from the wholesale-replaced set,
        and the server keeps emitting the surviving keys for at least 2 × `cacheSeconds` so
        every client observes the new set before its cached one lapses. Body is a bare
        compact JWS (`application/jose`), not JSON; the decoded payload is
        `TrustManifestPayload`.
      parameters: [{ $ref: "#/components/parameters/Product" }]
      responses:
        "200":
          description: "Compact JWS, `application/jose`. `cache-control: public, max-age=300`."
          content:
            application/jose:
              schema: { $ref: "#/components/schemas/CompactJws" }
              # The body is a base64url JWS string, so the shape a client actually consumes is
              # its DECODED payload. Named here rather than as `schema` because the wire body
              # really is a string.
              x-polaris-decoded-payload:
                { $ref: "#/components/schemas/TrustManifestPayload" }
              examples:
                manifest:
                  summary: The compact JWS as served
                  value: eyJhbGciOiJFZERTQSIsInR5cCI6InBrZXktdHJ1c3QranEzIiwia2lkIjoidGVzdC1raWQifQ.eyJzY2hlbWFWZXJzaW9uIjoxfQ.c2lnbmF0dXJl
        "404": { $ref: "#/components/responses/LegacyNotFound" }
    options:
      operationId: preflightGetTrustManifest
      tags: [core]
      summary: CORS preflight
      description: >
        Browser preflight for a page on one of the product's `web.origins`. Answered
        before service dispatch, so the result never depends on whether the service
        behind this path is enabled. See `CorsPreflight`.
      parameters:
        - { $ref: "#/components/parameters/Product" }
      responses:
        "204": { $ref: "#/components/responses/CorsPreflight" }
  /{product}/devices:
    get:
      operationId: listDevices
      tags: [core]
      summary: List the devices sharing this device's seat pool
      description: >
        A LICENSED caller sees every device on its own license. A device registered WITHOUT
        a license (keyless registration under an `open`/`requires-identity` policy) sees a
        one-element list containing only itself — keying the roster off the device id would
        otherwise hand a registered device the whole product's pool.
      security: [{ deviceToken: [] }]
      parameters: [{ $ref: "#/components/parameters/Product" }]
      responses:
        "200":
          description: The device roster.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/DeviceRoster" }
              examples:
                singleSeat:
                  summary: One activated device (test/licensing.test.ts)
                  value:
                    currentDeviceId: dev-1
                    devices:
                      - id: dev-1
                        licenseId: lic_djdl_1
                        label: Studio Mac
                        status: authorized
                        current: true
                        firstSeen: 1756252800
                        lastSeen: 1756256400
                        userAgent: djdl/1.2.3
                        platform: darwin
                        arch: arm64
                        appVersion: 1.2.3
                        sdkName: polaris-node
                        sdkVersion: 3.0.0
                registeredOnly:
                  summary: Keyless registration — empty licenseId, roster is self only
                  value:
                    currentDeviceId: 6Yl0uQ2xZk8LqR8nT0sYp2vcEgHj6Bf3
                    devices:
                      - id: 6Yl0uQ2xZk8LqR8nT0sYp2vcEgHj6Bf3
                        licenseId: ""
                        label: null
                        status: authorized
                        current: true
                        firstSeen: 1756252800
                        lastSeen: 1756252800
                        userAgent: null
                        platform: darwin
                        arch: arm64
                        appVersion: null
                        sdkName: null
                        sdkVersion: null
        "401": { $ref: "#/components/responses/LegacyUnauthorized" }
        "405": { $ref: "#/components/responses/MethodNotAllowed" }
    options:
      operationId: preflightListDevices
      tags: [core]
      summary: CORS preflight
      description: >
        Browser preflight for a page on one of the product's `web.origins`. Answered
        before service dispatch, so the result never depends on whether the service
        behind this path is enabled. See `CorsPreflight`.
      parameters:
        - { $ref: "#/components/parameters/Product" }
      responses:
        "204": { $ref: "#/components/responses/CorsPreflight" }
  /{product}/devices/{deviceId}:
    parameters:
      - { $ref: "#/components/parameters/Product" }
      - name: deviceId
        in: path
        required: true
        description: >
          The target device id. Read by PATCH and DELETE; a GET is answered before the
          handler reaches it (see `getDevice`).
        schema: { type: string }
    get:
      operationId: getDevice
      tags: [core]
      summary: Read one device (self-service scope)
      description: >
        Answers with the SAME roster body as `GET /{product}/devices` — the method check
        precedes any use of `{deviceId}`, so the path segment is accepted and ignored
        rather than being resolved to a single device. There is therefore no per-device
        404 on GET; a client that wants one device filters the roster on `id`. The scope is
        self-service in the sense the roster already is: a licensed caller sees its own
        license's seats, a registered device sees only itself.
      security: [{ deviceToken: [] }]
      responses:
        "200":
          description: The device roster (identical to `GET /{product}/devices`).
          content:
            application/json:
              schema: { $ref: "#/components/schemas/DeviceRoster" }
              examples:
                roster:
                  summary: The `{deviceId}` segment does not narrow the body
                  value:
                    currentDeviceId: dev-1
                    devices:
                      - id: dev-1
                        licenseId: lic_djdl_1
                        label: Studio Mac
                        status: authorized
                        current: true
                        firstSeen: 1756252800
                        lastSeen: 1756256400
                        userAgent: djdl/1.2.3
                        platform: darwin
                        arch: arm64
                        appVersion: 1.2.3
                        sdkName: polaris-node
                        sdkVersion: 3.0.0
        "401": { $ref: "#/components/responses/LegacyUnauthorized" }
    patch:
      operationId: renameDevice
      tags: [core]
      summary: Rename a device
      description: >
        A device token may only mutate ITSELF (R3-09). One writable field, `label`: trimmed
        and truncated to 120 characters. Any non-string, empty or whitespace-only `label` —
        and an omitted one — CLEARS the label to `null` rather than erroring, so a rename
        and an un-name are the same call. 404 when the target is not in the caller's visible
        roster (hide-don't-reveal); 403 when it is visible but is not the caller's own
        device.
      security: [{ deviceToken: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/DeviceRenameRequest" }
            examples:
              rename:
                summary: Set a label (test/licensing.test.ts)
                value: { label: Studio Mac }
              clear:
                summary: Clear the label
                value: { label: "" }
      responses:
        "200":
          description: Updated.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/DeviceUpdateResult" }
              examples:
                renamed:
                  summary: test/licensing.test.ts
                  value:
                    ok: true
                    device:
                      id: dev-1
                      licenseId: lic_djdl_1
                      label: Studio Mac
                      status: authorized
                      current: true
                      firstSeen: 1756252800
                      lastSeen: 1756256400
                      userAgent: djdl/1.2.3
                      platform: darwin
                      arch: arm64
                      appVersion: 1.2.3
                      sdkName: polaris-node
                      sdkVersion: 3.0.0
        "400":
          description: Unparseable body — LEGACY FLAT.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/FlatError" }
              examples:
                invalidJson:
                  { value: { error: bad_request, message: invalid json } }
                missingId:
                  { value: { error: bad_request, message: missing device id } }
        "401": { $ref: "#/components/responses/LegacyUnauthorized" }
        "403":
          description: The target is visible but is not this token's own device — LEGACY FLAT.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/FlatError" }
              examples:
                notSelf:
                  value:
                    {
                      error: forbidden,
                      message: a device token may only manage its own device,
                    }
        "404": { $ref: "#/components/responses/LegacyNotFound" }
        "405": { $ref: "#/components/responses/MethodNotAllowed" }
    delete:
      operationId: deauthorizeDevice
      tags: [core]
      summary: Deauthorize a device
      description: >
        Purges the device's fingerprint and facts rows in the same operation. Also flips the
        row to `status: "deauthorized"` and deletes the KV token record, so the bearer token
        stops working on the very next request. Self-only, with the same 404/403 split as
        PATCH.
      security: [{ deviceToken: [] }]
      responses:
        "200":
          description: Deauthorized.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/OkResult" }
              examples:
                done: { value: { ok: true } }
        "401": { $ref: "#/components/responses/LegacyUnauthorized" }
        "403":
          description: The target is visible but is not this token's own device — LEGACY FLAT.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/FlatError" }
              examples:
                notSelf:
                  value:
                    {
                      error: forbidden,
                      message: a device token may only manage its own device,
                    }
        "404": { $ref: "#/components/responses/LegacyNotFound" }
        "405": { $ref: "#/components/responses/MethodNotAllowed" }
    options:
      operationId: preflightGetDevice
      tags: [core]
      summary: CORS preflight
      description: >
        Browser preflight for a page on one of the product's `web.origins`. Answered
        before service dispatch, so the result never depends on whether the service
        behind this path is enabled. See `CorsPreflight`.
      responses:
        "204": { $ref: "#/components/responses/CorsPreflight" }
  /{product}/devices/report:
    post:
      operationId: reportDeviceFacts
      tags: [core]
      summary: Report device facts (software snapshot + declared probes)
      description: >
        Relocated from the v2 `/config/report` — this is device telemetry, not config.
        Bounded and allowlisted: 16 KiB body cap, ≤32 probe entries, unknown keys dropped;
        only product-DECLARED probes are answered (no installed-app enumeration). Overwritten
        per report; deleted with the device.


        Nineteen top-level keys survive the allowlist; anything else is dropped SILENTLY
        rather than refused, so a newer SDK reporting a field this worker does not know still
        succeeds. `os`/`hardware`/`runtime`/`locale`/`timezone`/`probes` are projected into
        typed columns (strings truncated to 128 chars, probe ids and probe versions to 64);
        the rest are kept as an opaque blob. A probe entry whose `present` is not a boolean is
        skipped. `engine` keeps only its known fields (strings truncated to 128 chars,
        `debug` only as a boolean) and `outlet` is truncated to 64 chars; either is dropped
        when it has the wrong type. `content` (P4-02) keeps only `packSetId` and `appRelease`,
        each only when it is 64 lowercase hex, and is dropped when neither is. `caps` (P1b-10)
        is the SDK's capability list: the parity feature ids its `supports()` answers
        Supported for right now (`core.verify`, `update.decide`, …). It keeps only strings
        shaped like a feature id (at most 64 chars), deduplicated, at most 128; ids are not
        checked against the registry, so a newer SDK's features survive. A non-array `caps`
        is dropped. An empty body is valid and means `{}`. Auth requires a usable license only
        when the product enables the License service (D-08).
      security: [{ deviceToken: [] }]
      parameters: [{ $ref: "#/components/parameters/Product" }]
      requestBody:
        required: false
        content:
          application/json:
            schema: { $ref: "#/components/schemas/FactsReport" }
            examples:
              snapshot:
                summary: A full snapshot with one declared probe (test/fingerprintActivation.test.ts)
                value:
                  os:
                    {
                      name: darwin,
                      version: "15.1",
                      build: 24B83,
                      kernel: 24.1.0,
                    }
                  hardware: { cpuModel: Apple M3, cpuCores: 12, ramMb: 36864 }
                  runtime: { name: node, version: 22.13.1 }
                  locale: en-US
                  timezone: America/Los_Angeles
                  probes:
                    rekordbox: { present: true, version: 7.0.1 }
              passthrough:
                summary: Pass-through keys kept verbatim (test/licensingEdge.test.ts)
                value:
                  appVersion: 1.2.3
                  platform: darwin
                  config: { proxy: "on" }
                  entitlements: { beta: true }
                  gate: { licensed: true }
              engine:
                summary: A Godot game's engine facts and outlet (test/licensingEdge.test.ts)
                value:
                  os: { name: darwin, version: "15.1", kernel: macOS }
                  runtime: { name: godot, version: 4.7.2.stable.official }
                  sdk: polaris-key-godot
                  sdkVersion: 0.1.0
                  appVersion: 1.4.0
                  platform: macos
                  arch: arm64
                  engine:
                    id: godot-4.7
                    version: 4.7.2.stable.official
                    renderer: forward_plus
                    videoAdapter: Apple M3
                    videoVendor: Apple
                    videoApi: Metal 3.2
                    display: macOS
                    debug: false
                  outlet: steam
                  caps: [core.verify, core.sync, license.gate, update.decide]
                  config: {}
                  entitlements: {}
      responses:
        "200":
          description: Recorded.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/OkResult" }
              examples:
                recorded: { value: { ok: true } }
        "400":
          description: Unparseable body — LEGACY FLAT.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/FlatError" }
              examples:
                invalidBody:
                  { value: { error: bad_request, message: invalid body } }
        "401": { $ref: "#/components/responses/LegacyUnauthorized" }
        "405": { $ref: "#/components/responses/MethodNotAllowed" }
        "413":
          description: >
            Body over the 16 KiB cap, by declared `content-length` OR actual length —
            LEGACY FLAT. `body_too_large` is this route's own code, outside the shared
            taxonomy.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/FlatError" }
              examples:
                tooLarge:
                  {
                    value:
                      { error: body_too_large, message: report body too large },
                  }
    options:
      operationId: preflightReportDeviceFacts
      tags: [core]
      summary: CORS preflight
      description: >
        Browser preflight for a page on one of the product's `web.origins`. Answered
        before service dispatch, so the result never depends on whether the service
        behind this path is enabled. See `CorsPreflight`.
      parameters:
        - { $ref: "#/components/parameters/Product" }
      responses:
        "204": { $ref: "#/components/responses/CorsPreflight" }
  /{product}/devices/register:
    post:
      operationId: registerDevice
      tags: [core]
      summary: Keyless device registration (policy-gated)
      description: >
        Mints a `pkeyt_` device token under the product's registration policy: `open` mints
        directly; `requires-identity` needs an identity exchange (the Identity service
        authorizes it); `requires-license` refuses uniformly (`registration_closed`) —
        tokens then come only from license activation/enrollment.


        The device id arrives as the `X-PKey-Device` HEADER, not a body field, and unlike
        activation it must be exactly 32 base64url characters. The optional JSON body carries
        only a fingerprint. `registration_closed` is ONE body for four causes — policy is
        `requires-license`; policy is `requires-identity` and no valid product session was
        presented; policy is `requires-identity` on an identity-disabled product; the device
        id is already bound to a real license — because telling them apart is the
        reconnaissance being refused. Re-registering the same id ROTATES the token (the old
        one dies at once) and preserves `firstSeen`. This route answers in the NESTED shape
        throughout.
      parameters: [{ $ref: "#/components/parameters/Product" }]
      requestBody:
        required: false
        content:
          application/json:
            schema: { $ref: "#/components/schemas/FingerprintEnvelope" }
            examples:
              anchorOnly:
                summary: A single anchor component (test/register.test.ts)
                value:
                  fingerprint:
                    components: { machineUuid: uuidxxxxxxxxxxxxxxxxxx }
      responses:
        "200":
          description: "Registered. `cache-control: no-store`."
          content:
            application/json:
              schema: { $ref: "#/components/schemas/RegistrationResult" }
              examples:
                minted:
                  summary: test/register.test.ts
                  value:
                    token: pkeyt_Zk8LqR8nT0sYp2vcEgHj6Bf3QdNwXr7uKmA1sVe9tYo
                    deviceId: 6Yl0uQ2xZk8LqR8nT0sYp2vcEgHj6Bf3
        "400":
          description: >
            Missing or malformed `X-PKey-Device` — NESTED, with `message` beside `error`
            rather than inside it.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/WireError" }
              examples:
                badDeviceId:
                  value:
                    error: { code: bad_request }
                    message: missing or malformed device id
        "403":
          description: Registration closed under the product's policy.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/WireError" }
              examples:
                closed:
                  summary: The single body for all four causes (test/register.test.ts)
                  value: { error: { code: registration_closed } }
        "405": { $ref: "#/components/responses/MethodNotAllowed" }
        "429":
          description: >
            10 registrations per 60 s per client IP, fail-closed — NESTED. A
            `requires-license` product is refused BEFORE the limiter so its budget cannot be
            drained by strangers.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/WireError" }
              examples:
                limited: { value: { error: { code: rate_limited } } }
    options:
      operationId: preflightRegisterDevice
      tags: [core]
      summary: CORS preflight
      description: >
        Browser preflight for a page on one of the product's `web.origins`. Answered
        before service dispatch, so the result never depends on whether the service
        behind this path is enabled. See `CorsPreflight`.
      parameters:
        - { $ref: "#/components/parameters/Product" }
      responses:
        "204": { $ref: "#/components/responses/CorsPreflight" }

  # ── license ───────────────────────────────────────────────────────────────────
  /{product}/license/activate:
    post:
      operationId: activate
      tags: [license]
      summary: Redeem a license key for a device token
      description: >
        `pkey_<product>_…` key + device identity (and, from native SDKs, the hashed hardware
        fingerprint) → per-device `pkeyt_` bearer token. Rate-limited. Fingerprint policy is
        tier-resolved; only `strict` makes a fingerprint mandatory here.


        Exactly what the handler reads: the license KEY as `Authorization: Bearer`, the
        device id as the `X-PKey-Device` header (any non-empty string here, unlike
        registration's strict 32-char form), the optional device-metadata headers, and an
        OPTIONAL JSON body whose only meaningful field is `fingerprint`. A body that is
        absent, empty, unparseable, or over the 4 KiB cap yields "no fingerprint" rather than
        an error. A client-sent `hwid` is parsed away and recomputed server-side, so it cannot
        be forged into a collision with another machine's dedupe key. Every error here is
        LEGACY FLAT.
      security: [{ licenseKey: [] }]
      parameters:
        - { $ref: "#/components/parameters/Product" }
        - { $ref: "#/components/parameters/DeviceHeader" }
        - { $ref: "#/components/parameters/PlatformHeader" }
        - { $ref: "#/components/parameters/ArchHeader" }
        - { $ref: "#/components/parameters/VersionHeader" }
        - { $ref: "#/components/parameters/SdkHeader" }
        - { $ref: "#/components/parameters/SdkVersionHeader" }
      requestBody:
        required: false
        content:
          application/json:
            schema: { $ref: "#/components/schemas/FingerprintEnvelope" }
            examples:
              fullFingerprint:
                summary: All seven components (test/fingerprintActivation.test.ts)
                value:
                  fingerprint:
                    components:
                      machineUuid: 4Sc9ItiFEQMbGXeAbXVdIw
                      boardSerial: HkkgWaC6QKS4SdCUJf1vLQ
                      cpuModel: 8UvzXqhwR0mDPPlgKtEQqA
                      primaryMac: 2vFtYOTMTUKtRZ4Y6Ah4jw
                      bootVolumeUuid: bpS0zj5rSaK5wDFj6GJP5g
                      ramBucket: yCqPFVtESSyR7dvZUKq37Q
                      machineModel: rMxHkOIeQmytHXBqmVGdEA
              noFingerprint:
                summary: A managed/headless install with nothing to hash
                value: {}
      responses:
        "200":
          description: "Activation result. `cache-control: no-store`."
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ActivationResult" }
              examples:
                activated:
                  summary: test/licensing.test.ts
                  value:
                    token: pkeyt_Zk8LqR8nT0sYp2vcEgHj6Bf3QdNwXr7uKmA1sVe9tYo
                    schemaVersion: 7
                    device:
                      id: dev-1
                      licenseId: lic_djdl_1
                      label: null
                      status: authorized
                      current: true
                      firstSeen: 1756252800
                      lastSeen: 1756252800
                      userAgent: djdl/1.2.3
                      platform: darwin
                      arch: arm64
                      appVersion: 1.2.3
                      sdkName: polaris-node
                      sdkVersion: 3.0.0
                    license:
                      id: lic_djdl_1
                      status: active
                      name: Ada Lovelace
                      email: ada@example.com
                      tierId: pro
                      activatedAt: 1690000000
                      expiresAt: null
                      maxOfflineDays: 30
                      channels: [stable, beta]
                      minVersion: null
                      maxVersion: null
        "400":
          description: Missing `X-PKey-Device` — LEGACY FLAT.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/FlatError" }
              examples:
                missingDevice:
                  { value: { error: bad_request, message: missing device id } }
        "401": { $ref: "#/components/responses/LegacyUnauthorized" }
        "403":
          description: >
            Seat pool exhausted, or a `strict`-mode tier with no fingerprint — LEGACY FLAT.
            `device_limit` carries `limit` and `deviceCount` at the top level.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/FlatError" }
              examples:
                deviceLimit:
                  summary: test/licensing.test.ts
                  value:
                    {
                      error: device_limit,
                      message: device limit reached,
                      limit: 1,
                      deviceCount: 1,
                    }
                fingerprintRequired:
                  summary: test/fingerprintActivation.test.ts
                  value:
                    {
                      error: fingerprint_required,
                      message: this tier requires a hardware fingerprint,
                    }
        "405": { $ref: "#/components/responses/MethodNotAllowed" }
        "409":
          description: >
            The fingerprint drifted past this tier's tolerance — LEGACY FLAT, with `drift`
            (count of changed components) and `changed` (their names) at the top level.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/FlatError" }
              examples:
                hardwareMismatch:
                  summary: test/fingerprintActivation.test.ts
                  value:
                    error: hardware_mismatch
                    message: hardware changed; re-activation required
                    drift: 7
                    changed:
                      [
                        machineUuid,
                        boardSerial,
                        cpuModel,
                        primaryMac,
                        bootVolumeUuid,
                        ramBucket,
                        machineModel,
                      ]
        "429":
          description: 30 activations per 60 s per client IP — LEGACY FLAT. No `Retry-After`.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/FlatError" }
              examples:
                limited:
                  {
                    value:
                      {
                        error: rate_limited,
                        message: too many activation attempts,
                      },
                  }
    options:
      operationId: preflightActivate
      tags: [license]
      summary: CORS preflight
      description: >
        Browser preflight for a page on one of the product's `web.origins`. Answered
        before service dispatch, so the result never depends on whether the service
        behind this path is enabled. See `CorsPreflight`.
      parameters:
        - { $ref: "#/components/parameters/Product" }
      responses:
        "204": { $ref: "#/components/responses/CorsPreflight" }
  /{product}/license/enroll:
    post:
      operationId: enroll
      tags: [license]
      summary: Keyless enrollment (auto-issue policy)
      description: >
        Auto-issues a license bound to the machine (one per machine, deduped on the ANCHOR
        component's hash alone — R3-03) and returns the same shape as activate. 404 when the
        product's auto-issue policy is off (SDKs surface `enroll-disabled`). A fingerprint is
        required REGARDLESS of tier mode — dedupe is impossible without one.


        No `Authorization` header is read: this IS the keyless path. Two distinct refusals
        share the code `fingerprint_required` and differ only in message — no fingerprint at
        all, and a fingerprint without the `machineUuid` anchor. `enroll_claimed` is the
        R3-05 case where this machine's free license now belongs to an identity;
        `license_disabled` is the machine whose still-anonymous free license an operator
        disabled (signing in will not reach it, and re-enrolling around it would bypass the
        disable). The rate-limit window is an HOUR (the product's `rateLimitPerHour`; 0
        disables it), not the minute activation uses.
      parameters:
        - { $ref: "#/components/parameters/Product" }
        - { $ref: "#/components/parameters/DeviceHeader" }
        - { $ref: "#/components/parameters/PlatformHeader" }
        - { $ref: "#/components/parameters/ArchHeader" }
        - { $ref: "#/components/parameters/VersionHeader" }
        - { $ref: "#/components/parameters/SdkHeader" }
        - { $ref: "#/components/parameters/SdkVersionHeader" }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/FingerprintEnvelope" }
            examples:
              machineA:
                summary: The anchor plus two more (test/enroll.test.ts)
                value:
                  fingerprint:
                    components:
                      machineUuid: bXOu0dUeQoyDf2oPYW3q0w
                      boardSerial: t9OeTPnGT8W6pAd4EJ6ldQ
                      cpuModel: Vv0SBTVDQaKb1yG9zjHHXg
      responses:
        "200":
          description: Activation result — byte-identical in shape to `activate`.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ActivationResult" }
              examples:
                enrolled:
                  summary: test/enroll.test.ts
                  value:
                    token: pkeyt_Zk8LqR8nT0sYp2vcEgHj6Bf3QdNwXr7uKmA1sVe9tYo
                    schemaVersion: 1
                    device:
                      id: dev-a
                      licenseId: lic_auto_dev_a
                      label: null
                      status: authorized
                      current: true
                      firstSeen: 1756252800
                      lastSeen: 1756252800
                      userAgent: null
                      platform: null
                      arch: null
                      appVersion: null
                      sdkName: null
                      sdkVersion: null
                    license:
                      id: lic_auto_dev_a
                      status: active
                      name: null
                      email: null
                      tierId: free
                      activatedAt: 1756252800
                      expiresAt: null
                      maxOfflineDays: null
                      channels: []
                      minVersion: null
                      maxVersion: null
        "400":
          description: Missing `X-PKey-Device` — LEGACY FLAT.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/FlatError" }
              examples:
                missingDevice:
                  { value: { error: bad_request, message: missing device id } }
        "401": { $ref: "#/components/responses/LegacyUnauthorized" }
        "403":
          description: >
            No fingerprint, no anchor, or an already-claimed machine license — LEGACY FLAT.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/FlatError" }
              examples:
                noFingerprint:
                  summary: test/enroll.test.ts
                  value:
                    {
                      error: fingerprint_required,
                      message: enrollment requires a hardware fingerprint,
                    }
                noAnchor:
                  summary: Same code, different message
                  value:
                    {
                      error: fingerprint_required,
                      message: enrollment requires a machine anchor in the hardware fingerprint,
                    }
                claimed:
                  value:
                    {
                      error: enroll_claimed,
                      message: "this machine's free license has been claimed; sign in to use it",
                    }
                disabled:
                  summary: Operator-disabled anonymous row
                  value:
                    {
                      error: license_disabled,
                      message: "this machine's free license has been disabled",
                    }
        "404":
          description: >
            Auto-issue is off for this product, or its configured tier is missing — LEGACY
            FLAT. Deliberately a 404 so a product that never enabled enrollment is
            indistinguishable from one that has no such route.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/FlatError" }
              examples:
                disabled:
                  summary: test/enroll.test.ts
                  value:
                    { error: enroll_disabled, message: enrollment is disabled }
        "405": { $ref: "#/components/responses/MethodNotAllowed" }
        "409":
          description: Hardware drift on the re-enrolling machine — LEGACY FLAT (as `activate`).
          content:
            application/json:
              schema: { $ref: "#/components/schemas/FlatError" }
              examples:
                hardwareMismatch:
                  value:
                    {
                      error: hardware_mismatch,
                      message: hardware changed; re-activation required,
                      drift: 3,
                      changed: [cpuModel, primaryMac, ramBucket],
                    }
        "429":
          description: >
            The product's `rateLimitPerHour` per client IP over a 3600 s window — LEGACY
            FLAT. Skipped entirely when the policy sets 0.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/FlatError" }
              examples:
                limited:
                  {
                    value:
                      {
                        error: rate_limited,
                        message: too many enrollment attempts,
                      },
                  }
        "500":
          description: The license could not be issued — LEGACY FLAT.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/FlatError" }
              examples:
                failed:
                  {
                    value:
                      {
                        error: enroll_failed,
                        message: could not issue a license,
                      },
                  }
    options:
      operationId: preflightEnroll
      tags: [license]
      summary: CORS preflight
      description: >
        Browser preflight for a page on one of the product's `web.origins`. Answered
        before service dispatch, so the result never depends on whether the service
        behind this path is enabled. See `CorsPreflight`.
      parameters:
        - { $ref: "#/components/parameters/Product" }
      responses:
        "204": { $ref: "#/components/responses/CorsPreflight" }
  /{product}/license/token:
    post:
      operationId: reacquireToken
      tags: [license]
      summary: Rotate/re-acquire the device token
      description: >
        The 401-recovery step of the SDK convention: exactly one re-acquire, then one retry of
        the failed fetch. Reads NO body — the current `pkeyt_` token as `Authorization: Bearer`
        plus `X-PKey-Device`, which must name the same device the token is bound to. The
        response omits `device` and `license`; it is the new token and the catalog version,
        nothing else. Every failure mode — no bearer, wrong token shape, unknown token,
        device-id mismatch, deauthorized device, dead license — collapses into one 401.
      security: [{ deviceToken: [] }]
      parameters:
        - { $ref: "#/components/parameters/Product" }
        - { $ref: "#/components/parameters/DeviceHeader" }
      responses:
        "200":
          description: "New token. `cache-control: no-store`."
          content:
            application/json:
              schema: { $ref: "#/components/schemas/TokenResult" }
              examples:
                rotated:
                  summary: test/licensingEdge.test.ts — the value differs from the old token
                  value:
                    token: pkeyt_QdNwXr7uKmA1sVe9tYoZk8LqR8nT0sYp2vcEgHj6Bf3
                    schemaVersion: 7
        "400":
          description: Missing `X-PKey-Device` — LEGACY FLAT.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/FlatError" }
              examples:
                missingDevice:
                  { value: { error: bad_request, message: missing device id } }
        "401": { $ref: "#/components/responses/LegacyUnauthorized" }
        "405": { $ref: "#/components/responses/MethodNotAllowed" }
        "429":
          description: 30 re-acquires per 60 s per client IP — LEGACY FLAT.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/FlatError" }
              examples:
                limited:
                  {
                    value:
                      { error: rate_limited, message: too many token requests },
                  }
    options:
      operationId: preflightReacquireToken
      tags: [license]
      summary: CORS preflight
      description: >
        Browser preflight for a page on one of the product's `web.origins`. Answered
        before service dispatch, so the result never depends on whether the service
        behind this path is enabled. See `CorsPreflight`.
      parameters:
        - { $ref: "#/components/parameters/Product" }
      responses:
        "204": { $ref: "#/components/responses/CorsPreflight" }
  /{product}/license/deauthorize:
    post:
      operationId: deauthorizeSelf
      tags: [license]
      summary: Self-deauthorize this device
      description: >
        Retires the calling device from its own seat: the KV token record is deleted and the
        device row flips to `deauthorized`, so the very next request with that token — to any
        route — is a 401. Reads only the bearer token; `X-PKey-Device` is NOT consulted, and
        there is no body and no rate limit.
      security: [{ deviceToken: [] }]
      parameters: [{ $ref: "#/components/parameters/Product" }]
      responses:
        "200":
          description: Deauthorized.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/OkResult" }
              examples:
                done:
                  summary: test/licensingEdge.test.ts
                  value: { ok: true }
        "401": { $ref: "#/components/responses/LegacyUnauthorized" }
        "405": { $ref: "#/components/responses/MethodNotAllowed" }
    options:
      operationId: preflightDeauthorizeSelf
      tags: [license]
      summary: CORS preflight
      description: >
        Browser preflight for a page on one of the product's `web.origins`. Answered
        before service dispatch, so the result never depends on whether the service
        behind this path is enabled. See `CorsPreflight`.
      parameters:
        - { $ref: "#/components/parameters/Product" }
      responses:
        "204": { $ref: "#/components/responses/CorsPreflight" }
  /{product}/license/document:
    get:
      operationId: getLicenseDocument
      tags: [license]
      summary: The signed license document (pkey-license+jws)
      description: >
        Requires a device token whose license is USABLE. Carries licenseId, profile, and the
        entitlements map (incl. `license.tier`, `channels`, version windows, `deviceLimit`).
        License STATE is never in the document — the client gate derives it. Strong per-doc
        ETag/304 (content-only: a tier change moves it, a re-sign does not). The build gate
        enforces channel/version windows HERE with 403 + `allowedRange`.


        The gate reads `X-PKey-Version` (defaulting to `0.0.0`) and `X-PKey-Channel`, under the
        channel vocabulary of WIRE-CONTRACT-V3 §5.1: `stable`, `beta`, `pr`/`pr-<n>`, `dev` and
        manual names, with `staging` (→ `beta`) and `latest` (→ `stable`) accepted as aliases.
        A malformed channel header is itself a refusal rather than a free pass, and an unknown
        well-formed name must be granted by name. A `channels` grant of `staging` also covers
        `beta`, and `pr` covers every `pr-<n>`. The 403 body
        is NESTED and collapses both version outcomes into `code: "version_blocked"` while
        keeping the distinction in `error.reason`; `allowedRange` rides at the TOP level, as
        `{min, max}`, and is OMITTED entirely on `channel_not_allowed` — naming the window of
        a feed the caller may not see would leak its shape. The 304 carries `etag` and
        nothing else.
      security: [{ deviceToken: [] }]
      parameters:
        - { $ref: "#/components/parameters/Product" }
        - { $ref: "#/components/parameters/VersionHeader" }
        - { $ref: "#/components/parameters/ChannelHeader" }
        - { $ref: "#/components/parameters/IfNoneMatch" }
      responses:
        "200":
          description: >
            Compact JWS, `application/jwt`, with a strong `ETag` and `cache-control:
            no-store`. The decoded payload is `LicenseDocPayload`.
          headers:
            ETag: { $ref: "#/components/headers/ETag" }
          content:
            application/jwt:
              schema: { $ref: "#/components/schemas/CompactJws" }
              x-polaris-decoded-payload:
                { $ref: "#/components/schemas/LicenseDocPayload" }
              examples:
                signed:
                  summary: Header `{"alg":"EdDSA","typ":"pkey-license+jws","kid":"test-kid"}`
                  value: eyJhbGciOiJFZERTQSIsInR5cCI6InBrZXktbGljZW5zZStqd3MiLCJraWQiOiJ0ZXN0LWtpZCJ9.eyJpc3MiOiJrZXkucGxycy5pbSJ9.c2lnbmF0dXJl
        "304":
          description: Not modified (If-None-Match). Empty body; the ONLY header is `etag`.
          headers:
            ETag: { $ref: "#/components/headers/ETag" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403":
          description: Build gate — version_blocked / channel_not_allowed, with allowedRange.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/WireError" }
              examples:
                versionTooOld:
                  summary: test/licensing.test.ts — the exact-equality assertion
                  value:
                    error: { code: version_blocked, reason: version-too-old }
                    allowedRange: { min: "2.0.0", max: "99.0.0" }
                versionTooNew:
                  summary: test/licensing.test.ts
                  value:
                    error: { code: version_blocked, reason: version-too-new }
                    allowedRange: { max: "2.0.0" }
                channelNotAllowed:
                  summary: No `allowedRange` on this branch, deliberately
                  value:
                    error:
                      {
                        code: channel_not_allowed,
                        reason: channel-not-entitled,
                      }
        "405": { $ref: "#/components/responses/MethodNotAllowed" }
    options:
      operationId: preflightGetLicenseDocument
      tags: [license]
      summary: CORS preflight
      description: >
        Browser preflight for a page on one of the product's `web.origins`. Answered
        before service dispatch, so the result never depends on whether the service
        behind this path is enabled. See `CorsPreflight`.
      parameters:
        - { $ref: "#/components/parameters/Product" }
      responses:
        "204": { $ref: "#/components/responses/CorsPreflight" }

  # ── config ────────────────────────────────────────────────────────────────────
  /{product}/config/document:
    get:
      operationId: getConfigDocument
      tags: [config]
      summary: The signed config document (pkey-config+jws)
      description: >
        Device-token auth ONLY — no license required (D-08: a config-only product serves
        signed settings to any registered device). Carries catalog schemaVersion + config +
        secrets maps. No build gate. Strong per-doc ETag/304, independent of the license
        document's.


        The payload is FLAT: `config` and `secrets` sit beside the shared envelope claims,
        not nested under a `payload` key, and there is no `licenseId`, `entitlements` or
        `profile` — those ride the license document. `schemaVersion` is the product's CATALOG
        version, not the wire version. The ETag covers content only (`iss`, `aud`, `deviceId`,
        `schemaVersion`, `config`, `secrets`), so a re-sign at a later clock yields the same
        tag. The 500 fails closed: an unparseable catalog withholds the document rather than
        widening what a client receives.
      security: [{ deviceToken: [] }]
      parameters:
        - { $ref: "#/components/parameters/Product" }
        - { $ref: "#/components/parameters/IfNoneMatch" }
      responses:
        "200":
          description: >
            Compact JWS, `application/jwt`, with a strong `ETag` and `cache-control:
            no-store`. The decoded payload is `ConfigDocPayload`.
          headers:
            ETag: { $ref: "#/components/headers/ETag" }
          content:
            application/jwt:
              schema: { $ref: "#/components/schemas/CompactJws" }
              x-polaris-decoded-payload:
                { $ref: "#/components/schemas/ConfigDocPayload" }
              examples:
                signed:
                  summary: Header `{"alg":"EdDSA","typ":"pkey-config+jws","kid":"test-kid"}`
                  value: eyJhbGciOiJFZERTQSIsInR5cCI6InBrZXktY29uZmlnK2p3cyIsImtpZCI6InRlc3Qta2lkIn0.eyJpc3MiOiJrZXkucGxycy5pbSJ9.c2lnbmF0dXJl
        "304":
          description: Not modified (If-None-Match). Empty body; the ONLY header is `etag`.
          headers:
            ETag: { $ref: "#/components/headers/ETag" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "405": { $ref: "#/components/responses/MethodNotAllowed" }
        "500":
          description: The active catalog could not validate the payload — NESTED, fails closed.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/WireError" }
              examples:
                catalogUnavailable:
                  value:
                    error: { code: catalog_unavailable }
                    message: active catalog could not validate the config payload
    options:
      operationId: preflightGetConfigDocument
      tags: [config]
      summary: CORS preflight
      description: >
        Browser preflight for a page on one of the product's `web.origins`. Answered
        before service dispatch, so the result never depends on whether the service
        behind this path is enabled. See `CorsPreflight`.
      parameters:
        - { $ref: "#/components/parameters/Product" }
      responses:
        "204": { $ref: "#/components/responses/CorsPreflight" }
  /{product}/config/schema:
    get:
      operationId: getCatalog
      tags: [config]
      summary: The public config catalog
      description: >
        The ProductCatalog (schemaVersion + entries). Public; `max-age=60`.


        No auth and no method check — the stored catalog JSON is served verbatim. Each entry
        declares `kind` (`config` | `secret` | `flag`), not `type`; the JSON Schema for the
        value lives under `schema`. Note the two 404s: this handler's own (the product has no
        ACTIVE catalog row) is LEGACY FLAT and carries a message, while a product that has not
        enabled the Config service gets the registry's NESTED not-found instead.
      parameters: [{ $ref: "#/components/parameters/Product" }]
      responses:
        "200":
          description: "The catalog. `cache-control: public, max-age=60`."
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ProductCatalog" }
              examples:
                oneEntry:
                  summary: test/serviceRoutes.test.ts
                  value:
                    schemaVersion: 3
                    entries:
                      - key: app.theme
                        kind: config
                        category: app
                        label: Theme
                        description: ""
                        schema: { type: string }
                        default: system
                        managementDefault: default
                threeKinds:
                  summary: One of each kind (test/configDoc.test.ts)
                  value:
                    schemaVersion: 7
                    entries:
                      - key: app.theme
                        kind: config
                        category: app
                        label: Theme
                        description: ""
                        schema: { type: string }
                        managementDefault: default
                      - key: api.token
                        kind: secret
                        category: api
                        label: API token
                        description: ""
                        schema: { type: string }
                        secret: true
                      - key: polarisVpn
                        kind: flag
                        category: features
                        label: VPN
                        description: ""
                        schema: { type: boolean }
        "404":
          description: >
            No active catalog for this product — LEGACY FLAT. (A Config-disabled product gets
            the registry's NESTED `{"error":{"code":"not_found"}}` instead.)
          content:
            application/json:
              schema: { $ref: "#/components/schemas/FlatError" }
              examples:
                noCatalog:
                  {
                    value:
                      {
                        error: not_found,
                        message: no active schema for product,
                      },
                  }
                serviceDisabled:
                  summary: The registry's nested body, for contrast
                  value: { error: { code: not_found } }
    options:
      operationId: preflightGetCatalog
      tags: [config]
      summary: CORS preflight
      description: >
        Browser preflight for a page on one of the product's `web.origins`. Answered
        before service dispatch, so the result never depends on whether the service
        behind this path is enabled. See `CorsPreflight`.
      parameters:
        - { $ref: "#/components/parameters/Product" }
      responses:
        "204": { $ref: "#/components/responses/CorsPreflight" }
  /{product}/config/mint/{mintId}/token:
    parameters:
      - { $ref: "#/components/parameters/Product" }
      - { $ref: "#/components/parameters/MintId" }
    get:
      operationId: mintTokenGet
      tags: [config]
      summary: Mint a third-party token (edge-mint)
      description: >
        Short-lived third-party token (e.g. Apple MusicKit developer token) from the
        product's recipe. Device-token auth; when the License service is enabled the license
        must additionally be usable (confused-deputy guard). Rate-limited.


        The handler reads NOTHING from the caller but the bearer token: no body, no query
        params. Algorithm, key, claims template, audience and TTL all come from the stored
        recipe, and `iat`/`exp`/`nbf`/`aud` in that template are stripped before the trusted
        values are stamped on — a forged `aud` in a template cannot survive. Supported algs
        are ES256, RS256 and EdDSA; anything else is a 500. The confused-deputy guard answers
        401, not 403. All errors are LEGACY FLAT. Rate limit: 60 per 60 s per client IP,
        applied BEFORE authentication.
      security: [{ deviceToken: [] }]
      responses:
        "200":
          description: "The minted token. `cache-control: no-store`."
          content:
            application/json:
              schema: { $ref: "#/components/schemas/MintedToken" }
              examples:
                musicKit:
                  summary: test/edgeMint.test.ts — an ES256 developer token
                  value:
                    token: eyJhbGciOiJFUzI1NiIsInR5cCI6IkpXVCIsImtpZCI6IktJRDEyMyJ9.eyJpc3MiOiJURUFNSUQxMjMiLCJpYXQiOjE3NTYyNTI4MDAsImV4cCI6MTc1NjI1NjQwMH0.c2ln
                    expiresAt: 1756256400
        "401": { $ref: "#/components/responses/LegacyUnauthorized" }
        "404":
          description: No such edge-mint recipe on this product — LEGACY FLAT.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/FlatError" }
              examples:
                noRecipe:
                  {
                    value:
                      { error: not_found, message: no such edge-mint recipe },
                  }
        "429":
          description: 60 mints per 60 s per client IP — LEGACY FLAT.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/FlatError" }
              examples:
                limited:
                  {
                    value:
                      { error: rate_limited, message: too many mint requests },
                  }
        "500":
          description: The recipe cannot be executed — LEGACY FLAT, one code, three messages.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/FlatError" }
              examples:
                unsupportedAlg:
                  {
                    value:
                      { error: misconfigured, message: unsupported alg HS256 },
                  }
                missingKey:
                  { value: { error: misconfigured, message: missing mint key } }
                badTemplate:
                  {
                    value:
                      {
                        error: misconfigured,
                        message: mint claims template is not valid JSON,
                      },
                  }
    post:
      operationId: mintTokenPost
      tags: [config]
      summary: Mint a third-party token (edge-mint)
      description: >
        Byte-identical to the GET: the handler has no method check and never reads the
        request body, so POST exists purely so a client that dislikes a side-effecting GET
        has a verb it is comfortable with. Same auth, same recipe resolution, same rate-limit
        bucket, same LEGACY FLAT errors.
      security: [{ deviceToken: [] }]
      requestBody:
        required: false
        description: Ignored. The handler never reads a body; the recipe supplies every claim.
        content:
          application/json:
            schema: { type: object }
            examples:
              empty: { value: {} }
      responses:
        "200":
          description: "The minted token. `cache-control: no-store`."
          content:
            application/json:
              schema: { $ref: "#/components/schemas/MintedToken" }
              examples:
                minted:
                  summary: test/surfaces.test.ts — the recipe's `aud` wins over the template's
                  value:
                    token: eyJhbGciOiJFUzI1NiIsInR5cCI6IkpXVCIsImtpZCI6IktJRDEyMyJ9.eyJhdWQiOiJtdXNpYy5hcHBsZS5jb20ifQ.c2ln
                    expiresAt: 1756256400
        "401": { $ref: "#/components/responses/LegacyUnauthorized" }
        "404":
          description: No such edge-mint recipe on this product — LEGACY FLAT.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/FlatError" }
              examples:
                noRecipe:
                  {
                    value:
                      { error: not_found, message: no such edge-mint recipe },
                  }
        "429":
          description: 60 mints per 60 s per client IP — LEGACY FLAT.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/FlatError" }
              examples:
                limited:
                  {
                    value:
                      { error: rate_limited, message: too many mint requests },
                  }
        "500":
          description: The recipe cannot be executed — LEGACY FLAT.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/FlatError" }
              examples:
                missingKey:
                  { value: { error: misconfigured, message: missing mint key } }
    options:
      operationId: preflightMintTokenGet
      tags: [config]
      summary: CORS preflight
      description: >
        Browser preflight for a page on one of the product's `web.origins`. Answered
        before service dispatch, so the result never depends on whether the service
        behind this path is enabled. See `CorsPreflight`.
      responses:
        "204": { $ref: "#/components/responses/CorsPreflight" }
  /{product}/config/mint/{mintId}/auth:
    get:
      operationId: mintAuthPage
      tags: [config]
      summary: The edge-mint auth page (HTML)
      description: >
        Public HTML helper page for recipes that need a user-facing auth step; 404 when the
        recipe declares no template.


        The stored template is served verbatim under the strict script-free static-HTML CSP
        (`default-src 'none'; base-uri 'none'; frame-ancestors 'none'; form-action 'self';
        img-src 'self' data:; style-src 'unsafe-inline'`) plus `nosniff`, `X-Frame-Options:
        DENY` and `Referrer-Policy: no-referrer`. Two causes share one 404 body: no recipe,
        and a recipe with a null template.
      parameters:
        - { $ref: "#/components/parameters/Product" }
        - { $ref: "#/components/parameters/MintId" }
      responses:
        "200":
          description: "HTML. `text/html; charset=utf-8`, `cache-control: no-store`."
          content:
            text/html:
              schema: { type: string }
              examples:
                page:
                  summary: test/edgeMint.test.ts
                  value: "<!doctype html><meta charset=utf-8><title>Sign in</title><p>Authorize this app.</p>"
        "404":
          description: No recipe, or the recipe declares no auth page — LEGACY FLAT.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/FlatError" }
              examples:
                noPage: { value: { error: not_found, message: no auth page } }

  # ── release ───────────────────────────────────────────────────────────────────
  /{product}/release/changelog:
    get:
      operationId: getChangelog
      tags: [release]
      summary: Release changelog
      description: >
        Access-mode gated (metadata mode; `entitled` adds per-license channel/version gating).


        Lists up to 50 non-draft GitHub releases, newest first. `summary` prefers a curated
        `<!-- pkey:summary -->…<!-- /pkey:summary -->` block and otherwise takes the first
        prose paragraph above the first `##` heading, markdown-stripped and capped at 600
        characters with a trailing ellipsis. Which credential is demanded depends on the
        product's `metadata` access mode: `public` asks for nothing; `authenticated` and
        `licensed` refuse with the LEGACY FLAT `download_auth_required`; `entitled` refuses
        with the NESTED bodies documented on `downloadArtifact`. Only cache MISSES are
        metered (30 per 60 s per IP).
      parameters: [{ $ref: "#/components/parameters/Product" }]
      responses:
        "200":
          description: "The changelog. `cache-control: public, max-age=300`."
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Changelog" }
              examples:
                twoReleases:
                  summary: test/release.test.ts
                  value:
                    entries:
                      - version: 1.1.0
                        tag: v1.1.0
                        date: 2026-01-02T03:04:05Z
                        summary: Faster sync
                        url: https://github.com/acme/djdl/releases/tag/v1.1.0
                      - version: 1.0.0
                        tag: v1.0.0
                        date: 2025-12-01T09:00:00Z
                        summary: Initial public release.
                        url: https://github.com/acme/djdl/releases/tag/v1.0.0
        "401": { $ref: "#/components/responses/ReleaseUnauthorized" }
        "403": { $ref: "#/components/responses/ReleaseForbidden" }
        "404": { $ref: "#/components/responses/LegacyNotFound" }
        "429": { $ref: "#/components/responses/ReleaseRateLimited" }
        "503": { $ref: "#/components/responses/UpstreamRateLimited" }
    options:
      operationId: preflightGetChangelog
      tags: [release]
      summary: CORS preflight
      description: >
        Browser preflight for a page on one of the product's `web.origins`. Answered
        before service dispatch, so the result never depends on whether the service
        behind this path is enabled. See `CorsPreflight`.
      parameters:
        - { $ref: "#/components/parameters/Product" }
      responses:
        "204": { $ref: "#/components/responses/CorsPreflight" }
  /{product}/distribution/install.sh:
    get:
      operationId: getInstallScript
      tags: [distribution]
      summary: The curl-pipe install script
      description: >
        P2b-04: moved from Release to Distribution, which owns all byte delivery;
        `/{product}/release/install.sh` and `/{product}/install.sh` are its permanent aliases.
        The `curl … | sh` bootstrap, rendered from the product's binary name and this
        request's origin so the script it emits points back at this deployment. Its download
        base stays `/<product>/release/dl` (a permanent alias), so the script is byte-identical
        under every spelling. Makes no
        GitHub call, but is still gated by the `metadata` access mode and metered on the
        metadata lane. 404 when the release config is missing or unresolved, and also when
        any rendered value (binary name, origin, install path, version env var) falls outside
        the renderer's safe character class — a script is refused rather than emitted with an
        unescaped value in it.
      parameters: [{ $ref: "#/components/parameters/Product" }]
      responses:
        "200":
          description: "Shell script. `text/x-shellscript; charset=utf-8`, `cache-control: public, max-age=300`."
          content:
            text/x-shellscript:
              schema: { type: string }
              examples:
                script:
                  summary: The two lines test/release.test.ts pins
                  value: |
                    CLI_BASE='/djdl/release/dl'
                    URL="$ORIGIN$CLI_BASE/$VERSION/djdl-$ARCH"
        "401": { $ref: "#/components/responses/ReleaseUnauthorized" }
        "403": { $ref: "#/components/responses/ReleaseForbidden" }
        "404": { $ref: "#/components/responses/LegacyNotFound" }
        "429": { $ref: "#/components/responses/ReleaseRateLimited" }
        "503": { $ref: "#/components/responses/UpstreamRateLimited" }
    options:
      operationId: preflightGetInstallScript
      tags: [distribution]
      summary: CORS preflight
      description: >
        Browser preflight for a page on one of the product's `web.origins`. Answered
        before service dispatch, so the result never depends on whether the service
        behind this path is enabled. See `CorsPreflight`.
      parameters:
        - { $ref: "#/components/parameters/Product" }
      responses:
        "204": { $ref: "#/components/responses/CorsPreflight" }
  /{product}/distribution/dl/{version}/{asset}:
    get:
      operationId: downloadArtifact
      tags: [distribution]
      summary: Download a release artifact
      description: >
        P2b-04: moved from Release to Distribution, which owns all byte delivery;
        `/{product}/release/dl/{version}/{asset}` is its permanent alias. Unifies the v2
        `/cli/*` and `/dmg/*` families: `{asset}` is `<binary>-<arch>` or `<binary>-<arch>.dmg`
        (arch ∈ arm64|aarch64|x86_64|amd64). Gated by the `app` deliverable's delivery access
        (`dist_access`, the answer the appcast and the portal read too); `entitled` returns
        nested v3 errors (401 unauthorized / 403 channel_not_allowed / 403 version_blocked +
        allowedRange). The bytes are GitHub's, streamed by Release through the catalog hook.


        ── WHICH ERROR SHAPE, AND WHY IT DIFFERS BY MODE ────────────────────────────────

        `authenticated` and `licensed` are the pre-v3 code path and answer with the LEGACY
        FLAT body `{"error":"download_auth_required","message":…}` at 401 — and with nothing
        else: neither mode inspects channel or version at all, so no 403 exists on those
        branches. `entitled` (D-13) is v3's own and answers NESTED: 401
        `{"error":{"code":"unauthorized"}}`, 403 `{"error":{"code":"channel_not_allowed"}}`
        with NO `allowedRange`, and 403 `{"error":{"code":"version_blocked"}}` WITH
        `allowedRange` as a TOP-LEVEL sibling of `error`. Unlike `/license/document`, the
        release path carries no `error.reason`. `public` demands nothing.


        The worker STREAMS the artifact rather than redirecting: GitHub's redirect is followed
        server-side (with the storage host checked against an allowlist and the Authorization
        header dropped before the second hop), so the client sees 200 — or 206 for a `Range`
        request, or 304 for `If-None-Match`, both of which are forwarded upstream. The
        response `content-type` is always this worker's own, never the repo-controlled
        upstream value. `?checksum=sha256` serves the published sidecar digest as bare
        lowercase hex instead of the artifact.
      parameters:
        - { $ref: "#/components/parameters/Product" }
        - name: version
          in: path
          required: true
          description: >
            A selector, not necessarily a semver: `latest`, `stable`, a pinned bare `1.2.3`
            (looked up as the `v1.2.3` tag, then as `1.2.3` if that 404s; a `v`-prefixed
            selector is not accepted), `beta` (or its legacy alias `staging`, unless the product
            declares a manual channel of that name), `pr-42`, or an operator-defined channel
            name. An aliased selector keeps its own spelling for the asset suffix. Pinned selectors
            get `max-age=86400, immutable`; moving ones `max-age=120`.
          schema: { type: string }
        - name: asset
          in: path
          required: true
          schema:
            {
              type: string,
              pattern: "^.+-(arm64|aarch64|x86_64|amd64)(\\.dmg)?$",
            }
        - name: checksum
          in: query
          required: false
          description: >
            Set to `sha256` to serve the artifact's published `<asset>.sha256` sidecar as a
            bare lowercase hex digest plus a newline, instead of the artifact itself. 404 when
            no sidecar exists or its first token is not 64 hex characters.
          schema: { type: string, enum: [sha256] }
        - { $ref: "#/components/parameters/Range" }
        - { $ref: "#/components/parameters/IfNoneMatch" }
      responses:
        "200":
          description: >
            The artifact, streamed through the worker. `content-type` is
            `application/x-apple-diskimage` for a `.dmg` and `application/octet-stream`
            otherwise; `content-disposition: attachment` names the sanitised asset.
            `Content-Length`, `Accept-Ranges`, `ETag` and `Last-Modified` are passed through
            from upstream.
          content:
            application/octet-stream:
              schema: { type: string, format: binary }
            application/x-apple-diskimage:
              schema: { type: string, format: binary }
            text/plain:
              schema:
                type: string
                pattern: "^[0-9a-f]{64}\\n$"
              examples:
                checksum:
                  summary: "?checksum=sha256 (test/attack/R6-release.test.ts)"
                  value: "9f86d081884c7d659a2feaa0c55ad015a3bf4f1b2b0b822cd15d6c15b0f00a08\n"
        "206":
          description: Partial content, when the client sent a `Range` header.
          content:
            application/octet-stream:
              schema: { type: string, format: binary }
        "304":
          description: Not modified, when the client sent a matching `If-None-Match`.
        "401":
          description: >
            Two different bodies depending on the deliverable's delivery access — LEGACY
            FLAT under `authenticated`/`licensed`, NESTED under `entitled`.
          content:
            application/json:
              schema:
                oneOf:
                  - { $ref: "#/components/schemas/FlatError" }
                  - { $ref: "#/components/schemas/WireError" }
              examples:
                licensedModeFlat:
                  summary: "`authenticated` / `licensed` — test/release.test.ts"
                  value:
                    error: download_auth_required
                    message: a valid license is required to download this release artifact
                entitledModeNested:
                  summary: "`entitled` — test/updateFeed.test.ts"
                  value: { error: { code: unauthorized } }
        "403": { $ref: "#/components/responses/ReleaseForbidden" }
        "404": { $ref: "#/components/responses/LegacyNotFound" }
        "429":
          description: >
            120 artifact requests per 60 s per client IP (a wider lane than metadata's 30) —
            LEGACY FLAT. Only cache misses are metered.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/FlatError" }
              examples:
                limited:
                  {
                    value:
                      {
                        error: rate_limited,
                        message: too many release requests,
                      },
                  }
        "503": { $ref: "#/components/responses/UpstreamRateLimited" }
    options:
      operationId: preflightDownloadArtifact
      tags: [distribution]
      summary: CORS preflight
      description: >
        Browser preflight for a page on one of the product's `web.origins`. Answered
        before service dispatch, so the result never depends on whether the service
        behind this path is enabled. See `CorsPreflight`.
      parameters:
        - { $ref: "#/components/parameters/Product" }
        - { name: version, in: path, required: true, schema: { type: string } }
        - { name: asset, in: path, required: true, schema: { type: string } }
      responses:
        "204": { $ref: "#/components/responses/CorsPreflight" }

  /{product}/distribution/builds/{selector}/{buildId}:
    get:
      operationId: downloadBuild
      tags: [distribution]
      summary: Download the payload of a declared build
      description: >
        P2-05; P2b-04 moved it to Distribution (`/{product}/release/builds/…` is its permanent
        alias, on both hosts). Resolves `{selector}` for the deliverable (`?deliverable=`,
        default `app`) from the release truth store — channel membership and `includes` (beta ⊇ stable), the channel's
        pointer and pin, yanks, the deliverable's version scheme, the tag filter — keeping only
        releases that have the build `{buildId}`, so a release missing one platform's build falls
        back to the newest release that has it. Then serves that build's `payload` artifact from
        its first location: R2 (`ETag` = the SHA-256, `Repr-Digest`, `Range`, `If-Range`,
        `If-None-Match`), then GitHub (streamed through the worker; the signed storage URL is
        cached, so a `Range` chunk costs no API call), then an external `https://` URL (302).
        Also answers `HEAD` with the same headers and no body. Served on the console host and on
        the bytes host (`BLOB_ORIGIN`, e.g. `dl.plrs.im`); discovery advertises the bytes-host
        URL. Access follows the deliverable's delivery access (`dist_access`) exactly as
        `/distribution/dl` does (flat 401 under `authenticated`/`licensed`, nested under
        `entitled`), and requests count against the artifact rate-limit lane. A moving selector
        is cached `public, max-age=120`, a version selector `immutable`; a non-public
        deliverable's bytes are `private, no-store`. Served only while Distribution is enabled
        for the product: otherwise the console answers the registry not-found and the bytes host
        its flat `{"error":"not_found"}`.
      parameters:
        - { $ref: "#/components/parameters/Product" }
        - name: selector
          in: path
          required: true
          description: >
            A channel (`stable`, `latest`, `beta`, the legacy `staging` = `beta`, a manual
            channel, a channel a release was published to) or a version (`1.2.3`, `1.2.3.4`).
            A version is explicit: it resolves even when that release is yanked.
          schema: { type: string }
        - name: buildId
          in: path
          required: true
          description: The build's id in the deliverable's artifact map (`macos`, `win-zip`, `apk`).
          schema: { type: string }
        - name: deliverable
          in: query
          required: false
          schema: { type: string, default: app }
        - name: checksum
          in: query
          required: false
          description: >
            `sha256` answers the payload's SHA-256 as bare lowercase hex plus a newline instead of
            the payload (`text/plain` on the console host, `application/octet-stream` on the
            bytes host, which serves no text type).
          schema: { type: string, enum: [sha256] }
        - name: redirect
          in: query
          required: false
          description: >
            `1` asks for a 302 to GitHub's own download URL instead of a stream. Honoured only
            for a PUBLIC artifact of a PUBLIC repository; everything else streams. Streaming is
            the default because winget refuses redirects and App Installer and zsync need `Range`.
          schema: { type: string, enum: ["1"] }
        - { $ref: "#/components/parameters/Range" }
        - { $ref: "#/components/parameters/IfNoneMatch" }
      responses:
        "200":
          description: The payload (or, with `?checksum=sha256`, its digest).
          content:
            application/octet-stream:
              schema: { type: string, format: binary }
            text/plain:
              schema: { type: string, pattern: "^[0-9a-f]{64}\\n$" }
              examples:
                checksum:
                  summary: "?checksum=sha256 (test/releaseBytes.test.ts)"
                  value: "9f86d081884c7d659a2feaa0c55ad015a3bf4f1b2b0b822cd15d6c15b0f00a08\n"
        "206":
          description: Partial content for a `Range` request.
          content:
            application/octet-stream:
              schema: { type: string, format: binary }
        "302":
          description: >
            `?redirect=1` on a public artifact of a public repository, or an artifact whose only
            location is an external `https://` URL.
        "304":
          description: Not modified (`If-None-Match`).
        "401":
          description: >
            The delivery access refused the caller — LEGACY FLAT under
            `authenticated`/`licensed`, NESTED under `entitled` (see `/distribution/dl`).
          content:
            application/json:
              schema:
                oneOf:
                  - { $ref: "#/components/schemas/FlatError" }
                  - { $ref: "#/components/schemas/WireError" }
              examples:
                licensedModeFlat:
                  summary: "`authenticated` / `licensed` — test/releaseBytes.test.ts"
                  value:
                    error: download_auth_required
                    message: a valid license is required to download this release artifact
        "403": { $ref: "#/components/responses/ReleaseForbidden" }
        "404": { $ref: "#/components/responses/LegacyNotFound" }
        "416":
          description: "An unsatisfiable `Range` (R2-served bytes), with `Content-Range: bytes */<size>`."
        "429":
          description: The artifact rate-limit lane (120 per 60 s per client IP) — LEGACY FLAT.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/FlatError" }
              examples:
                limited:
                  {
                    value:
                      {
                        error: rate_limited,
                        message: too many release requests,
                      },
                  }
        "503": { $ref: "#/components/responses/UpstreamRateLimited" }
    options:
      operationId: preflightDownloadBuild
      tags: [distribution]
      summary: CORS preflight
      description: Browser preflight for a page on one of the product's `web.origins`. See `CorsPreflight`.
      parameters:
        - { $ref: "#/components/parameters/Product" }
        - { name: selector, in: path, required: true, schema: { type: string } }
        - { name: buildId, in: path, required: true, schema: { type: string } }
      responses:
        "204": { $ref: "#/components/responses/CorsPreflight" }

  /{product}/distribution/files/{releaseId}/{name}:
    get:
      operationId: downloadReleaseFile
      tags: [distribution]
      summary: Download one exact file of one release
      description: >
        P2-05; P2b-04 moved it to Distribution (`/{product}/release/files/…` is its permanent
        alias, on both hosts). One file of one release by its exact name — payloads and sidecars
        alike
        (`.sig`, `.sha256`, an index). Immutable: the release id and the name fix the bytes, so a
        public response is cached `public, max-age=31536000, immutable`. Same locations, `HEAD`,
        `Range`, access mode, rate-limit lane and `?redirect=1` rule as `downloadBuild`; served
        on the console host and on the bytes host. Access is the release's deliverable's
        delivery access; under `entitled` the release's STORED version is checked against the
        caller's window as a fixed, pinned version (never re-read as a selector).
      parameters:
        - { $ref: "#/components/parameters/Product" }
        - name: releaseId
          in: path
          required: true
          description: The release id — the GitHub tag, or `<deliverable>@<version>` for a tagless descriptor release. Percent-encode a `/`.
          schema: { type: string }
        - name: name
          in: path
          required: true
          schema: { type: string }
        - name: redirect
          in: query
          required: false
          schema: { type: string, enum: ["1"] }
        - { $ref: "#/components/parameters/Range" }
        - { $ref: "#/components/parameters/IfNoneMatch" }
      responses:
        "200":
          description: The file.
          content:
            application/octet-stream:
              schema: { type: string, format: binary }
        "206":
          description: Partial content for a `Range` request.
          content:
            application/octet-stream:
              schema: { type: string, format: binary }
        "302":
          description: "`?redirect=1` (public artifact, public repository) or an external location."
        "304":
          description: Not modified (`If-None-Match`).
        "401":
          description: The delivery access refused the caller (see `downloadBuild`).
          content:
            application/json:
              schema:
                oneOf:
                  - { $ref: "#/components/schemas/FlatError" }
                  - { $ref: "#/components/schemas/WireError" }
        "403": { $ref: "#/components/responses/ReleaseForbidden" }
        "404": { $ref: "#/components/responses/LegacyNotFound" }
        "416":
          description: An unsatisfiable `Range` (R2-served bytes).
        "429":
          description: The artifact rate-limit lane — LEGACY FLAT.
          content:
[...]
