; S-04 presets. All exports are release templates; paths are under ../build (git-ignored).
; Android release signing comes from GODOT_ANDROID_KEYSTORE_RELEASE_{PATH,USER,PASSWORD} (see ../build.sh);
; iOS exports the Xcode project only, which ../build.sh builds for the simulator without signing.

[preset.0]

name="macOS"
platform="macOS"
runnable=true
dedicated_server=false
custom_features=""
export_filter="all_resources"
include_filter="vectors/*"
exclude_filter=""
export_path="../build/macos/pkey-s04.app"
script_export_mode=2

[preset.0.options]

binary_format/architecture="universal"
application/bundle_identifier="org.polariskey.s04lowend"
codesign/codesign=1
notarization/notarization=0

[preset.1]

name="Android"
platform="Android"
runnable=true
dedicated_server=false
custom_features=""
export_filter="all_resources"
include_filter="vectors/*"
exclude_filter=""
export_path="../build/android/pkey-s04.apk"
script_export_mode=2

[preset.1.options]

gradle_build/use_gradle_build=false
architectures/armeabi-v7a=false
architectures/arm64-v8a=true
architectures/x86=false
architectures/x86_64=false
version/code=1
version/name="1.0"
package/unique_name="org.polariskey.s04lowend"
package/name="PK S-04"
package/signed=true
screen/immersive_mode=false

[preset.2]

name="iOS"
platform="iOS"
runnable=true
dedicated_server=false
custom_features=""
export_filter="all_resources"
include_filter="vectors/*"
exclude_filter=""
export_path="../build/ios/pkey-s04.ipa"
script_export_mode=2

[preset.2.options]

application/app_store_team_id="0000000000"
application/bundle_identifier="org.polariskey.s04lowend"
application/export_project_only=true
application/min_ios_version="15.0"
application/short_version="1.0"
application/version="1"

[preset.3]

name="Web"
platform="Web"
runnable=true
dedicated_server=false
custom_features=""
export_filter="all_resources"
include_filter="vectors/*"
exclude_filter="vectors/large/*"
export_path="../build/web/index.html"
script_export_mode=2

[preset.3.options]

variant/extensions_support=false
variant/thread_support=false
vram_texture_compression/for_desktop=true
vram_texture_compression/for_mobile=true
html/canvas_resize_policy=2
progressive_web_app/enabled=false
